<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>54.93.57.116</MSDeployServiceURL>
    <DeployIisAppPath>MApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webdeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=mapp-sqlserver.ceweytg5avkr.eu-central-1.rds.amazonaws.com,1433;Initial Catalog=ApplicationDB;Persist Security Info=True;User ID=appUser;Password=passme" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MApp.DA.MainDbContext, MApp.DA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mapp-sqlserver.ceweytg5avkr.eu-central-1.rds.amazonaws.com,1433;Initial Catalog=ApplicationDB;Persist Security Info=True;User ID=appUser;Password=passme"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>