@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.BrAlternativesVM
@{
    ViewBag.Title = Model.Issue.Title + " - Alternatives Brainstorming";
    var ko = Html.CreateKnockoutContext();
}
<script src="~/ckeditor/ckeditor.js"></script>

<h2><span data-bind="text: viewModel.Issue.Title"></span> - Alternatives Brainstorming</h2>


    <table id="alternativesTable" class="table table-condensed table-nonfluid commenttable">
        <thead align="left">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.Alternatives">
            <tr>
                @if (Model.AccessRight != "V")
                {
                    <td><input data-bind="textInput: Name" class="form-control textbox-name" /></td>
                }
                else
                {
                    <td data-bind="text: Name"></td>
                }
                <td>
                    @if (Model.AccessRight != "V")
                    {
                        <textarea data-bind="textInput: Description" class="form-control textarea-desc"></textarea>
                    }
                    else
                    {
                        <p data-bind="text: Description"></p>
                    }
                    
                    <label data-bind="text: 'Comment count: ' + Comments().length"></label>
                    
                    <table class="commenttable" data-bind="attr: { style: Comments().length == 0 ? 'display:none' : 'display:table'}">
                        <tr class="hiddenRow collapse comment commenttable-th">
                            <th>User</th>
                            <th>Comment</th>
                        </tr>
                        <tbody class="hiddenRow collapse comment" data-bind="foreach: Comments">
                            <tr>
                                <td class="commenttable-td commenttable-usercol">
                                    <p data-bind="text: Name" class="commentttable-name"></p>
                                    <p data-bind="text: moment(DateTime()).format('DD.MM.YY HH:mm')"></p>
                                </td>
                                <td data-bind="html: Text" class="commenttable-td commenttable-comment"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="modal fade" data-bind="attr: { id: 'commentModal' + Id()}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="mdclose" data-dismiss="modal">&times;</button>
                                    <label class="modal-title h4md" data-bind="text: 'Commenting ' + Name()"></label>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <textarea data-bind="attr: { id: 'editor' + Id(), name: 'editor' + Id()}"></textarea>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bind="attr: { Id: 'saveCommentBtns' + Id(), onClick: 'onSaveCommentClick(' + Id() + ')'}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                <td align="center" class="commenttable-btncol">
                    <div data-bind="if: viewModel.AccessRight() != 'V' && viewModel.Issue.Status() != 'FINISHED' && viewModel.Issue.Status() != 'DECIDING' && viewModel.Issue.Status() != 'EVALUATING'">
                        <a class="btn btn-danger btn-xs hyperlink-btn" href="#" data-bind="click: $parent.removeAlternative">Remove</a>
                    </div>
                    <div data-bind="if: Id() > 0">
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-bind="attr: { 'data-target': '#commentModal' + Id() }">Add new comment</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

<button id="showCommentsBtn" class="btn btn-primary btn-md accordion-toggle" data-toggle="collapse" data-target=".comment" onclick="onShowCommentClick()">Show comments</button>
@if (Model.AccessRight == "C" || Model.AccessRight == "O")
{
    <button id="addNewAlternative" class="btn btn-primary btn-md" onclick="onAddNewAlternativeClick()" data-bind="enable: viewModel.Issue.Status() =='BRAINSTORMING1' || viewModel.Issue.Status() =='BRAINSTORMING2'">Add new Alternative</button>
    <button id="save" class="btn btn-primary btn-md" onclick="onSaveClick()">Save</button>
}
@if (Model.AccessRight == "O")
{
    <button id="nextstage" type="button" class="btn btn-primary" onclick="javascript: onNextStageClick()" data-bind="visible: viewModel.Issue.Status() != 'FINISHED' && viewModel.Issue.Status() != 'DECIDING' && viewModel.Issue.Status() != 'EVALUATING'">Next Stage</button>
}



<script>
    var viewModelJs = @Html.Raw(Json.Encode(Model));
    var viewModel = ko.mapping.fromJS(viewModelJs);

    ko.applyBindings(viewModel);

    renderMenues()

    function onSaveClick() {
        var tmpVM = ko.toJS(viewModel)

        for (var i = 0; i < tmpVM.Alternatives.length; i++){
            for (var j = 0; j < tmpVM.Alternatives[i].Comments.length; j++){
                tmpVM.Alternatives[i].Comments[j].Text = "";
            }
        }

        ko.utils.postJson("", { BrAlternativesVM: tmpVM })
    }

    function onNextStageClick() {
        ko.utils.postJson("/Issue/NextStage", { issueId: viewModel.Issue.Id, status: viewModel.Issue.Status })
    };

    function onAddNewAlternativeClick() {
        var alt = { 
            Id: ko.observable(-1), 
            Name: ko.observable(""), 
            Description: ko.observable(""), 
            IssueId: viewModel.Issue.Id, 
            Reason: 0, 
            Rating: 0,
            Comments: ko.observableArray()
        }
        viewModel.Alternatives.push(alt)
    }

    viewModel.removeAlternative = function () {
        viewModel.Alternatives.remove(this);
        if (typeof this.Id == "function") {
            if (this.Id() > 0) {
                viewModel.DeletedAlternatives.push(this.Id())
            }
        }
    };

    for (var i = 0; i < viewModelJs.Alternatives.length; i++){
        CKEDITOR.replace('editor' + viewModelJs.Alternatives[i].Id,
        {
            customConfig: '/ckeditor/config.js'
        });
    }

    function onSaveCommentClick(altId) {
        var txt = document.getElementById('editor' + altId);
        var d = new Date();
        var n = d.getTime(); 
        var comment =
                {
                    DateTime: n,
                    IssueId: viewModelJs.Issue.Id,
                    UserId: 0,
                    Type: 'Alternative' + altId,
                    Text: CKEDITOR.instances['editor' + altId].getData(),
                    Name: 'Me'
                }
        $.ajax({
            url: '@Url.Action("AddComment", "Issue")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(comment),
            async: true,
            processData: false,
            complete: function (r) {
                if (r.status = 200) {
                    for (var i = 0; i < viewModelJs.Alternatives.length; i++){
                        if (viewModelJs.Alternatives[i].Id == altId) {
                            var cmt =
                                {
                                    DateTime: ko.observable(n),
                                    IssueId: ko.observable(viewModelJs.Issue.Id),
                                    UserId: ko.observable(0),
                                    Type: ko.observable('Alternative' + altId),
                                    Text: ko.observable(CKEDITOR.instances['editor' + altId].getData()),
                                    Name: ko.observable('Me')
                                }
                            viewModel.Alternatives()[i].Comments.push(cmt);
                        }
                    }

                    CKEDITOR.instances['editor' + altId].setData('');
                    $('#commentModal' + altId).modal('hide');
                }else{
                    $.notify({
                        icon: 'glyphicon glyphicon-danger-sign',
                        title: 'System Notificaion',
                        message: 'Something went wrong! Could not add the comment.'
                    },{
                        delay: notDelay,
                        type: 'danger',
                        placement: notPlacementBottom,
                        animate: {
                            enter: "animated fadeInUp",
                            exit: "animated fadeOutDown"
                        }
                    });
                }
            }
        })
        //ko.utils.postJson("/Issue/AddComment",comment)
    }

    var collapsed = true;
    function onShowCommentClick() {
        if (collapsed) {
            document.getElementById('showCommentsBtn').innerText = 'Hide Comments'
            collapsed = false;
        } else {
            document.getElementById('showCommentsBtn').innerText = 'Show Comments'
            collapsed = true;
        }
    }
</script>


<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>

<script>
    $(function () {
        // Reference the auto-generated proxy for the hub.
        var commentHub = $.connection.commentHub;
        // Create a function that the hub can call back to display messages.
        commentHub.client.addNewCommentToAlternative = function (comment) {
            if (comment.Type.startsWith('Alternative') && comment.UserId != viewModelJs.UserId){
                var strId = comment.Type.replace("Alternative","")
                var id = parseInt(strId)
                for (var i = 0; i < viewModel.Alternatives().length; i++){
                    var alt = viewModel.Alternatives()[i]
                    if (alt.Id() == id){
                        comment.DateTime = ko.observable(comment.DateTime)
                        alt.Comments.push(comment)

                        $.notify({
                            icon: 'glyphicon glyphicon-info-sign',
                            title: 'System Notificaion',
                            message: 'Comment was added to ' + alt.Name() + '!'
                        },{
                            delay: notDelay,
                            type: 'info',
                            placement: notPlacementCorner,
                            animate: notAnimateCorner
                        });
                    }
                }
            }
                
        };
            
        // Start the connection.
        $.connection.hub.start().done(function () {
            
        });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
</script>
