@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.BrAlternativesVM
@{
    ViewBag.Title = Model.Issue.Title + " - Alternatives Brainstorming";
    var ko = Html.CreateKnockoutContext();
}

<h2><span data-bind="text: viewModel.Issue.Title"></span> - Alternatives Brainstorming</h2>

<span>
    <table id="alternativesTable" class="table table-hover table-striped table-condensed table-nonfluid">
        <thead align="left">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.Alternatives">
            <tr>
                <td><input data-bind="textInput: Name" class="form-control textbox-name"/></td>
                <td>
                    <textarea data-bind="textInput: Description" class="textarea-desc form-control"></textarea>
                    <table>
                        <thead>
                            <tr class="accordion-toggle" data-toggle="collapse" data-target=".comment">
                                <td>user</td>
                                <td>comment</td>
                            </tr>
                        </thead>
                        <tbody class="hiddenRow collapse comment">
                            <tr>
                                <td>User1</td>
                                <td>Some comment</td>
                            </tr>
                            <tr>
                                <td>User 2</td>
                                <td>Other comment</td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="addComment" data-bind="enable: Id>'0'" class="btn btn-primary btn-xs" onclick="javascript: onAddCommentClick">Add new comment</button>
                </td>
                <td><a class="btn btn-danger btn-xs" href="#" data-bind="click: $parent.removeAlternative">Remove</a></td>
            </tr>
        </tbody>
    </table>
</span>
<button id="addNewAlternative" class="btn btn-primary btn-md" onclick="onAddNewAlternativeClick()">Add new Alternative</button>
<button id="save" class="btn btn-success btn-md" onclick="onSaveClick()">Save</button>
<button id="nextstage" type="button" class="btn btn-success" onclick="javascript: onNextStageClick()">Next Stage</button>


@ko.Apply(Model)

<script>
    renderMenues()

    function onSaveClick() {
        var tmpVM = ko.toJS(viewModel)
        ko.utils.postJson("", { BrAlternativesVM: tmpVM })
    }

    function onNextStageClick() {
        $.ajax({
            url: '@Url.Action("NextStage","Issue")',
            type: 'POST',
            data: { issueId: viewModel.Issue.Id }
        })
        window.location.replace("/Issue/Evaluating?issueId=" + viewModelJs.Issue.Id)
    };

    function onAddNewAlternativeClick() {
        viewModel.Alternatives.push({ Id: -1, Name: "", Description: "", IssueId: viewModel.Issue.Id, Reason: 0, Rating: 0 })
    }

    viewModel.removeAlternative = function () {
        viewModel.Alternatives.remove(this);
        if (typeof this.Id == "function") {
            if (this.Id() > 0) {
                viewModel.DeletedAlternatives.push(this.Id())
            }
        }
    };

    function onAddCommentClick() {

    }
</script>