@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.BrCriteriaVM
@{
    ViewBag.Title = Model.Issue.Title + " - Criteria Brainstorming";
    var ko = Html.CreateKnockoutContext();
}
<script src="~/ckeditor/ckeditor.js"></script>

<h2><span data-bind="text: viewModel.Issue.Title"></span> - Criteria Brainstorming</h2>

<span>
    <table id="criteriaTable" class="table table-hover table-condensed table-nonfluid">
        <thead align="left">
            <tr>
                <th>Criterion name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.IssueCriteria">
            <tr>
                @if (Model.AccessRight != "V" && Model.Issue.Status == "BRAINSTORMING1")
                {
                    <td><input data-bind="textInput: Name" class="form-control textbox-name" /></td>
                }
                else
                {
                    <td data-bind="text: Name"></td>
                }
                <td>
                    @if (Model.AccessRight != "V" && Model.Issue.Status == "BRAINSTORMING1")
                    {
                        <textarea data-bind="textInput: Description" class="form-control textarea-desc"></textarea>
                    }
                    else
                    {
                        <p data-bind="text: Description"></p>
                    }
                    
                    <label data-bind="text: 'Comments: ' + Comments().length" class="label"></label>
                       
                    <table class="commenttable" data-bind="attr: { style: Comments().length == 0 ? 'display:none' : 'display:table'}">
                        <tr class="hiddenRow collapse comment commenttable-th">
                            <th class="commenttable-usercol">User</th>
                            <th>Comment</th>
                        </tr>
                        <tbody class="hiddenRow collapse comment" data-bind="foreach: Comments">
                            <tr>
                                <td class="commenttable-td commenttable-usercol">
                                    <p data-bind="text: Name" class="commentttable-name"></p>
                                    <p data-bind="text: moment(DateTime()).format('DD.MM.YY HH:mm')"></p>
                                </td>
                                <td data-bind="html: Text" class="commenttable-td commenttable-comment"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal fade" data-bind="attr: { id: 'commentModal' + Id()}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="mdclose" data-dismiss="modal">&times;</button>
                                    <label class="modal-title h4md" data-bind="text: 'Commenting ' + Name()"></label>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <textarea data-bind="attr: { id: 'editor' + Id(), name: 'editor' + Id()}"></textarea>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-inline">
                                        <div class="checkbox">
                                            <label id="anonymCommentLabel">
                                                <input data-bind="attr: { id: 'anonymousCommentCheck' + Id()}" type="checkbox" />
                                                Anonymous comment
                                            </label>
                                        </div>
                                        <button class="btn btn-primary" data-bind="attr: { Id: 'saveCommentBtns' + Id(), onClick: 'onSaveCommentClick(' + Id() + ')'}">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </td>
                <td align="center" class="commenttable-btncol">
                    <button class="btn btn-danger btn-xs" href="#" data-bind="click: $parent.removeCriterion, visible: viewModel.AccessRight() != 'V', visible: viewModel.Issue.Status() =='BRAINSTORMING1'">Remove</button>
                    <div data-bind="if: Id() > 0">
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-bind="attr: { 'data-target': '#commentModal' + Id() }">Add new comment</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</span>

    <button id="showCommentsBtn" class="btn btn-primary btn-md accordion-toggle" data-toggle="collapse" data-target=".comment" onclick="onShowCommentClick()">Show comments</button>
@if (Model.AccessRight == "C" || Model.AccessRight == "O")
{
    <button id="addNewCriterion" class="btn btn-primary btn-md" onclick="onAddNewCriterionClick()" data-bind="visible: viewModel.Issue.Status() == 'BRAINSTORMING1'">Add new Criterion</button>
    <button id="save" class="btn btn-primary btn-md" onclick="onSaveClick()" data-bind="visible: viewModel.Issue.Status() == 'BRAINSTORMING1'">Save</button>
}
@if (Model.AccessRight == "O")
{
    <button id="nextstage" type="button" class="btn btn-primary" onclick="javascript: onNextStageClick()" data-bind="visible: viewModel.Issue.Status() == 'BRAINSTORMING1'">Next Stage</button>
}


@ko.Apply(Model)

<script>
    renderMenues()
    var deletedCriteria = []

    viewModel.removeCriterion = function () {
        viewModel.IssueCriteria.remove(this);
        if (typeof this.Id == "function"){
            if (this.Id() > 0) {
            viewModel.DeletedCriteria.push(this.Id())
            }
        }

    };

    function onAddNewCriterionClick() {
        var criterion = {
            Id: ko.observable(-1),
            Name: ko.observable(""),
            Description: ko.observable(""),
            IssueId: ko.observable(viewModel.Issue.Id),
            Weigh: ko.observable(0),
            WeightPC: ko.observable(0),
            Comments: ko.observableArray()
        }
        viewModel.IssueCriteria.push(criterion)
    }

    function onSaveClick() {
        var tmpVM = ko.toJS(viewModel)

        for (var i = 0; i < tmpVM.IssueCriteria.length; i++) {
            for (var j = 0; j < tmpVM.IssueCriteria[i].Comments.length; j++) {
                tmpVM.IssueCriteria[i].Comments[j].Text = "";
            }
        }

        ko.utils.postJson("", { BrCriteriaVM: tmpVM })
    }

    function onNextStageClick() {
        ko.utils.postJson("/Issue/NextStage", { issueId: viewModel.Issue.Id, status: viewModel.Issue.Status })
    };

    //ckeditor init
    for (var i = 0; i < viewModelJs.IssueCriteria.length; i++) {
        CKEDITOR.replace('editor' + viewModelJs.IssueCriteria[i].Id,
        {
            customConfig: '/ckeditor/config.js'
        });
    }

    function onSaveCommentClick(critId) {
        var txt = document.getElementById('editor' + critId);
        var d = new Date();
        var n = d.getTime();
        var comment =
                {
                    DateTime: n,
                    IssueId: viewModelJs.Issue.Id,
                    UserId: 0,
                    Type: 'Criterion' + critId,
                    Text: CKEDITOR.instances['editor' + critId].getData(),
                    Name: 'Me',
                    Anonymous: document.getElementById('anonymousCommentCheck' + critId).checked
                }
        if (comment.Text.length < 3)
        {
            commentWarning()
            return;
        }
        $.ajax({
            url: '@Url.Action("AddComment", "Issue")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(comment),
            async: true,
            processData: false,
            complete: function (r) {
                if (r.status = 200) {
                    for (var i = 0; i < viewModelJs.IssueCriteria.length; i++) {
                        if (viewModelJs.IssueCriteria[i].Id == critId) {
                            var cmt =
                                {
                                    DateTime: ko.observable(n),
                                    IssueId: ko.observable(viewModelJs.Issue.Id),
                                    UserId: ko.observable(0),
                                    Type: ko.observable('Criterion' + critId),
                                    Text: ko.observable(CKEDITOR.instances['editor' + critId].getData()),
                                    Name: ko.observable('Me'),
                                    Anonymous: document.getElementById('anonymousCommentCheck' + critId).checked
                                }
                            if (cmt.Anonymous) {
                                cmt.Name = 'Anonymous'
                            }
                            viewModel.IssueCriteria()[i].Comments.push(cmt);
                        }
                    }
                    CKEDITOR.instances['editor' + critId].setData('');
                    $('#commentModal' + critId).modal('hide');
                } else {
                    $.notify({
                        icon: 'glyphicon glyphicon-danger-sign',
                        title: 'System Notificaion',
                        message: 'Something went wrong! Cloud not add the comment.'
                    }, {
                        delay: 1500,
                        type: 'danger',
                        placement: {
                            from: "bottom",
                            align: "center"
                        },
                        animate: {
                            enter: "animated fadeInUp",
                            exit: "animated fadeOutDown"
                        }
                    });
                }
            }
        })
    }

    var collapsed = true;
    function onShowCommentClick() {
        if (collapsed) {
            document.getElementById('showCommentsBtn').innerText = 'Hide Comments'
            collapsed = false;
            onShowCommentsBtnClick('Criterion')
        } else {
            document.getElementById('showCommentsBtn').innerText = 'Show Comments'
            collapsed = true;
        }
    }
</script>

@* SignalR *@
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    //when windows gets focus mark as read
    $(document).ready(function () { $(window).on("focus", markAsRead); });
    var markAsRead = function () {
        if ($('#addCommentBtn').is(':hidden') == false) {
            $.ajax({
                url: '/Issue/MarkCommentAsRead?issueId=' + viewModel.Issue.Id() + '&Type=Criterion',
                type: 'POST'
            })
        }

        if (document.getElementById('showCommentsBtn').innerText == 'Hide Comments') {
            $.ajax({
                url: '/Issue/MarkCommentAsRead?issueId=' + viewModel.Issue.Id() + '&Type=Criterion',
                type: 'POST'
            })
        }
    }

    $(function () {
        var commentHub = $.connection.commentHub;
        commentHub.client.addNewComment = function (comment) {
            if (comment.Type.startsWith('Criterion') && comment.UserId != viewModelJs.UserId){
                var strId = comment.Type.replace("Criterion","")
                var id = parseInt(strId)
                for (var i = 0; i < viewModel.IssueCriteria().length; i++) {
                    var crit = viewModel.IssueCriteria()[i]
                    if (crit.Id() == id){
                        comment.DateTime = ko.observable(comment.DateTime)
                        crit.Comments.push(comment)

                        $.notify({
                            icon: 'glyphicon glyphicon-info-sign',
                            title: 'System Notificaion',
                            message: 'Comment was added to ' + crit.Name() + '!'
                        },{
                            delay: notDelay,
                            type: 'info',
                            placement: notPlacementCorner,
                            animate: notAnimateCorner
                        });

                        //mark new comment as read if windows has focus and comments visible
                        if (document.hasFocus() && document.getElementById('showCommentsBtn').innerText == 'Hide Comments') {
                            $.ajax({
                                url: '/Issue/MarkCommentAsRead?issueId=' + viewModel.Issue.Id() + '&Type=Criterion',
                                type: 'POST'
                            })
                        }
                    }
                }
            }

        };

        //signalR CriteronHub
        var criterionHub = $.connection.criterionHub;
        //notification criterion deleted
        criterionHub.client.deleteCriteria = function (criteria, user) {
            if (viewModel.UserId() != user.Id) {
                for (var i = 0; i < criteria.length; i++) {
                    var id = criteria[i]
                    var result = $.grep(viewModel.IssueCriteria(), function (e) { return e.Id() == id; });
                    if (result.length == 1) {
                        var crit = viewModel.IssueCriteria.remove(function (item) {
                            return item.Id() == id;
                        });

                        $.notify({
                            icon: 'glyphicon glyphicon-info-sign',
                            title: 'System Notificaion',
                            message: crit[0].Name() + ' was deleted by ' + user.Name + '!'
                        }, {
                            delay: notDelay,
                            type: 'info',
                            placement: notPlacementCorner,
                            animate: notAnimateCorner
                        });
                    }
                }
            }
        }

        //notification criteria updated
        criterionHub.client.updateCriteria = function (criteria, user) {
            if (viewModel.UserId() != user.Id) {
                for (var i = 0; i < criteria.length; i++) {
                    var uCrit = criteria[i]
                    var result = $.grep(viewModel.IssueCriteria(), function (e) { return e.Id() == uCrit.Id; });
                    if (result.length == 0) { // new criteria
                        var newCrit = {
                            Id: ko.observable(uCrit.Id),
                            Name: ko.observable(uCrit.Name),
                            Description: ko.observable(uCrit.Description),
                            IssueId: ko.observable(viewModel.Issue.Id),
                            Weigh: ko.observable(0),
                            WeightPC: ko.observable(0),
                            Comments: ko.observableArray()
                        }
                        viewModel.IssueCriteria.push(newCrit)
                        CKEDITOR.replace('editor' + uCrit.Id,
                        {
                            customConfig: '/ckeditor/config.js'
                        });


                        $.notify({
                            icon: 'glyphicon glyphicon-info-sign',
                            title: 'System Notificaion',
                            message: newCrit.Name() + ' was added by ' + user.Name + '!'
                        }, {
                            delay: notDelay,
                            type: 'info',
                            placement: notPlacementCorner,
                            animate: notAnimateCorner
                        });

                        if (document.hasFocus()) {
                            $.ajax({
                                url: '/Issue/MarkCoreInfoAsRead?issueId=' + viewModel.Issue.Id() + '&Type=Criterion',
                                type: 'POST'
                            })
                        }
                    } else if (result.length == 1) {
                        var updated = false;
                        var oldCrit = result[0]
                        var name = oldCrit.Name()
                        if (oldCrit.Name() != uCrit.Name) {
                            oldCrit.Name(uCrit.Name)
                            updated = true;
                        }
                        if (oldCrit.Description() != uCrit.Description) {
                            oldCrit.Description(uCrit.Description)
                            updated = true;
                        }

                        if (updated) {
                            $.notify({
                                icon: 'glyphicon glyphicon-info-sign',
                                title: 'System Notificaion',
                                message: name + ' was updated by ' + user.Name + '!'
                            }, {
                                delay: notDelay,
                                type: 'info',
                                placement: notPlacementCorner,
                                animate: notAnimateCorner
                            });
                        }
                    }
                }
            }
        }

        var notificationHub = $.connection.notificationHub;
        userAddedToIssue(notificationHub);
        nextStageNotification(notificationHub)

        $.connection.hub.start().done(function () {

        });
    });
</script>