@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.EvaluationVM
@{
    ViewBag.Title = Model.Issue.Title + " - Alternatives Evaluation";
    var ko = Html.CreateKnockoutContext();
}

<h2>Evaluation</h2>

